* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: rgb(255, 255, 177);
}

h1,
h4,
h5 {
    text-decoration: underline;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 20px;
}

.p-beschreibung {
    font-size: 24px;
}


.unordered-list,
.ordered-list {
    font-size: 26px;
}